@import "../../../../utilities/scss-utilities/variables";
.productContianer {
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #c7ebbb;
  color: $secondary-color;
}
.serialNumber {
  font-weight: bold;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 1rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      color: #28361a;
      background-color: #64a74c;
    }
  }
  p {
    text-align: center;
    min-width: 4rem;
  }
}

.add {
  background-color: $primary-color;
  color: white;
}
