@import "../../../../utilities/scss-utilities/variables";
.productContianer {
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #c7ebbb;
  color: $secondary-color;
}
.serialNumber {
  font-weight: bold;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 1rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
  }
  p {
    text-align: center;
    min-width: 4rem;
  }
}

.add {
  background-color: $primary-color;
  color: white;
  &:hover {
    background-color: #64a74c;
  }
}

.subtract {
  background-color: rgb(180, 180, 180);
  color: white;
  &:hover {
    background-color: rgb(212, 212, 212);
  }
}
.delete {
  &:hover {
    background-color: rgb(253, 176, 176);
  }
}
