@import "../utilities/scss-utilities/variables";
.pageContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}
.formSide {
  flex: 1;
}

.formInner {
  width: 50%;
  margin: 3rem auto;
}

.logo {
}

.imageSide {
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
  flex: 1;
}
