.form {
  margin: 2rem 0;
  input {
    width: 100%;
  }
  button {
    width: 100%;
    margin-top: 4rem;
  }
  h1 {
    color: #474747;
    font-weight: normal;
  }
  button {
    cursor: pointer;
    border: none;
    padding: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #6d6d6d;
    &:hover {
      color: #d6d6d6;
      background-color: #8d8d8d;
    }
  }
  p {
    font-size: 0.85rem;
    text-align: center;
    color: #bcbcbc;
    margin: 1rem 0;
    strong {
      cursor: pointer;
      color: #707070;
      &:hover {
        color: rgb(177, 177, 177);
      }
    }
  }
}

.formGroup {
  margin: 1rem 0;
  label {
    color: #c8c8c8;
    margin-left: 1rem;
  }
  input {
    padding: 1rem;
    background-color: #ededed;
    border: none;
  }
}

.errorMsg {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  color: #ee4e4e;
}
