.menuItem {
  cursor: pointer;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  color: #717171;
  font-size: 0.9rem;
  img {
    max-width: 4rem;
  }

  &:hover {
    background-color: #dddddd;
  }
}
